.wrapper {
  position: relative;

  .header-text {
    text-align: left;
    color: white;

    span {
      color: blueviolet;
    }
  }

  .header-text::after {
    content: "";
    position: absolute;
    top: 50px;
    left: -15px;
    width: 95%;
    height: 1px;
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.7) 20%,
      rgba(255, 255, 255, 0) 70%
    );
  }

  form {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin: 120px auto 0;

    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      input {
        width: 45%;
        height: 50px;
        border-radius: 8px;
        border: 1px solid #383838;
        background-color: #23262b;

        &:focus {
          outline: 1px solid blueviolet;
        }
      }
    }
    textarea {
      resize: none;
      height: 200px;
      border-radius: 8px;
      margin-bottom: 30px;
      border: 1px solid #383838;
      background-color: #23262b;
      padding-top: 14px;

      &:focus {
        outline: 1px solid #8a2be2;
      }
    }

    button {
      width: 200px;
      height: 50px;
      margin: 0 auto;
      border-radius: 10px;
      border: 1px solid black;
      background: linear-gradient(-45deg, #701cbe, #a95bda, #8a2be2);
      color: white;
      cursor: pointer;
      font-size: 20px;
      background-size: 400%;
      background-position: 90% 0;
      transition: background 0.8s;

      &:hover {
        box-shadow: 5px -1px 15px 0px rgba(0, 0, 0, 0.3);
        background-position: 10% 5%;
      }
    }
  }
}
